* {
    box-sizing: border-box;
    margin: 0; 
    font-family: "polymath-display", sans-serif;
    line-height: 1.2;
}

h1{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

h2{
    font-weight: 700;
    font-size: 64px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 15vh;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "btn pic";
}

ul {
    list-style-type: none;
    grid-area: btn;
}

li {
    margin-bottom: 20px;
}

.fp{
    grid-area: pic;
    object-fit: contain;
    width: 100%;
    padding: 30px;
}

.contact{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.5em;
    padding: 20px;
    position: fixed;
    bottom: 0;
}

@media (prefers-color-scheme: light) {
    
    a {
        font-size: 64px;
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }

    a:hover {
        color: #fa6400;
        transition: 0.5s;
    }

    .contact{
        color: #003A70;
      	background-color: white;
    }

}

@media (prefers-color-scheme: dark) {
    
    body {
        background-color: black;
    }

    h1, h2
    {color: white;}

    a {
        font-size: 64px;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }

    a:hover {
        color: #32cd32;
        transition: 0.5s;
    }

    .contact{
        color: #fa6400;
      	background-color: black;
    }

    .contact:hover{
        color: #0096FF;
    }

}

@media only screen and (max-width: 668px) {

  h1{
    justify-content: start;
    text-align: left;
    font-size: 24px;
  }  
  
  nav {
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "btn"
        "pic";
    }

    h2{
        font-size: 48px;
    }

    a {
        font-size: 1.8em;
    }

    .contact{
        font-size: 1.5em;
    }

}